<div class="hero-unit">
    <h1>Books</h1>
    <div ui-sortable>
        <div class="row-fluid" ng-repeat="book in books">
            <div class="span6">
                ISBN:{{book.isbn}}
                <div class="row-fluid">
                    <div class="span6">Title: {{book.title}}</div>
                    <div class="span6">Author: {{book.author}}</div>
                </div>
            </div>
            <div class="span6">foto: {{book.author}}</div>
        </div>
    </div>
</div>
